html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:  
    Merriweather,
    'Helvetica Neue',
    Arial,sans-serif;
    background-color: #ddd2ce; 
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}


/* BOX servant a mettre les blocs entete, contenu et pied de page */

.box {
    width: 100%;
    height: 100%;
}

/* bloc en tete, avec navbar incluse  */
.entete {
    background-color: #ced9dd;
    text-align : center;
	height: 150px;
}


/*  bloc central du site, a disposer pour les differents onglets */
.central {
    margin-top: 0;
    background-image: url("img/default/logo1.jpg");
	background-size: cover;
    height: 500px;
}

/* bloc pied de page, ou on va disposer la partie contact ect  */

.baspage {
    margin-top: 0;
    background-color: #90979a;
    height: 150px;
}
