html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family:  
      Merriweather,
      'Helvetica Neue',
      Arial,sans-serif;
        background-color: grey; 
}

/*  impression texte en 3d */

.foldit-<uniquifier> {
  font-family: "Foldit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* BOX servant a mettre les blocs entete, contenu et pied de page */

.box {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
}

/* en haut a gauche de la navbar*/
.nomsite{
    font-family: "Foldit", sans-serif;
    font-weight: 400;
}

.entete {
    padding : 100px;
    display : flex;
    min-height: auto;
    width: 100%;
    height: 500px;
    margin-top: 0;
    background: yellow;
    padding: 100px 0;
}

.contenu {
    display : flex;
    width: 100%;
    height: 500px;
    margin-top: 0;
    background: blue;
    padding: 100px 0;
}
