---
layout : default
---

<section class="section">
  <div class="container">
    
<!--     debut du bloc article -->
    
    <div class="row">
      <div class="col-lg-8 mx-auto block shadow mb-5 ">
        
        <h2 class="d-flex justify-content-center">{{ page.title }}</h2>
        
        <!--     partie    auteur / date / tag  -->
        <div class="mb-3 post-meta d-flex justify-content-center">
          {% if page.author %}
          <a href="{{ 'author/' | relative_url }}{{ page.author | slugify }}">{{ page.author | capitalize }}</a>{%endif%},
          {{ page.date | date: '%b %d, %Y' }},
          {% if page.tags.size >= 1 %}
          {% for tag in page.tags %}
          <a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}">{{ tag | capitalize }}</a>
          {% endfor %}
          {% endif %}
        </div>

        <!--         la photo central (ouvrable ) -->
        <div class="central mb-5 ">
        {% if page.image %}
          <div class="imageBlock"> 
            <a class="showImage">
              <img src="{{ page.image | relative_url }}" class="img-fluid w-100 mb-4" alt="{{ page.title }} ">
                <div id="mask">
                  <div id="boxes">
                    <div class="inner">
                      <div id="dialog" class="window"> <a href="#" class="close">Fermer la photo</a>
                          <div id="popupfoot">
                            <img src="{{ page.image | relative_url }}" class="image" alt="Loading...">
                            </img> 
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              

          </div>
        
        <!--         le contenu ecrit present dans _posts -->
        <div class="content mb-5 d-flex justify-content-center">
          {{ page.content }}
        </div>

        <!--     test 2eme photo  -->
                <div class="bas mb-5 ">
        {% if page.image2 %}
          <div class="imageBlock2"> 
            <a class="showImage2">
              <img src="{{ page.image2 | relative_url }}" class="img-fluid w-100 mb-4" alt="{{ page.title }} ">
                <div id="mask">
                  <div id="boxes">
                    <div class="inner">
                      <div id="dialog" class="window"> <a href="#" class="close">Fermer la photo</a>
                          <div id="popupfoot">
                            <img src="{{ page.image2 | relative_url }}" class="image2" alt="Loading...">
                            </img> 
                          </div>
                      </div>
                  </div>
                </div>
              </div>
                        {% endif %}
          {% endif %}
          </div>

        
      </div>
      
    </div>
    
  </div>
  
</section>
